<h1>Topics list (<span id="topics-count"><%= Topic.count %></span>)</h1>

<%= form_for Topic.new do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "新增", :class => "btn btn-primary" %>
  </div>
<% end %>


<table class="table">
<% @topics.each do |topic| %>
  <tr id="topic-<%= topic.id %>">
    <td><%= topic.title %></td>
    <td id="topic-like-count-<%= topic.id %>">
      <%= topic.liked_users.size %>
    </td>
    <td id="topic-like-<%= topic.id %>">
      <%= render :partial => "like", :locals => { :topic => topic } %>
    </td>
    <td>
      <%= link_to "Delete", topic_path(topic), :method => :delete, :remote => true, :class => "btn btn-danger" %>
    </td>
  </tr>
<% end %>
</table>
