<h1>Topics list (<span id="topics-count"><%= Topic.count %></span>)</h1>

<table class="table">
<% @topics.each do |topic| %>
  <tr id="topic-<%= topic.id %>">
    <td><%= topic.title %></td>
    <td>
      <%= topic.liked_users.size %>
    </td>
    <td>
      <% topic.liked_users.each do |u| %>
        <%= u.display_name %>,
      <% end %>
    </td>
    <td>
      <% if topic.is_liked_by(current_user) %>
        <%= link_to "-1", unlike_topic_path(topic), :method => :post, :class => "btn btn-primary" %>
      <% else %>
        <%= link_to "+1", like_topic_path(topic), :method => :post, :class => "btn btn-success" %>
      <% end %>
    </td>
    <td>
      <%= link_to "Delete", topic_path(topic), :method => :delete, :remote => true, :class => "btn btn-danger" %>
    </td>
  </tr>
<% end %>
</table>
