<h1>我的訂單</h1>

<table class="table">
<% @orders.each do |order| %>
<tr>
  <td><%= link_to order.id, order_path(order) %></td>
  <td><%= order.name %></td>
  <td><%= order.phone %></td>
  <td>$<%= order.amount %></td>
  <td>
    <ul>
    <% order.order_items.each do |i| %>
      <li><%= i.product.name %>
        $<%= i.price %> x <%= i.qty %></li>
    <% end %>
    </ul>
  </td>
</tr>
<% end %>
</table>
