<h1>訂單編號 <%= @order.id %></h1>

<p>訂單狀態: <%= t( @order.status, :scope => "order.status" ) %></p>
<p>付款方式: <%= t( @order.payment_method ) %></p>
<p>Amount: <%= @order.amount %></p>

<% @order.order_items.each do |item| %>
  <li><%= item.product.name %> 數量<%= item.qty %></li>
<% end %>
<hr>

<% if @order.status == "new" %>

<p>
  <% Payment::PAYMENT_METHODS.each do |pm| %>
    <%= link_to t(pm, :scope => "PaymentPay2go"), checkout_pay2go_order_path(@order, :payment_method => pm), :class => "btn btn-primary btn-lg", :method => :post %>
  <% end %>
</p>

<% end %>
