<h1>訂單編號 <%= @order.id %></h1>

<p>訂單狀態: <%= t( @order.status, :scope => "order.status" ) %></p>
<p>付款方式: <%= t( @order.payment_method ) %></p>
<p>Amount: <%= @order.amount %></p>

<% @order.order_items.each do |item| %>
  <li><%= item.product.name %> 數量<%= item.qty %></li>
<% end %>
<hr>
<% if @order.status == "new" %>
  付款按鈕
<% end %>
