<h1><%= t( "product_list" ) %></h1>

<p>購物車有<span id="cart-total"><%= current_cart.total_qty %></span>個商品</p>

<hr>
<% @products.each do |product| %>
<div class="product">
  <%= link_to product_path(product) do %>
    <%= image_tag(product.image_url, :width => 120) %>
    <p>
      <%= product.name %>
      $<%= product.price %>
    </p>
    <p>
      <%= link_to "加入購物車", add_to_cart_product_path(product), :method => :post, :class => "btn btn-primary", :remote => true %>
    </p>
  <% end %>
</div>
<% end %>
