<h1><%= t( "product_list" ) %></h1>

<p>購物車有 <%= current_cart.cart_items.size %> 個商品</p>
<ul>
<% current_cart.cart_items.each do |item| %>
  <li><%= item.product.name %> 數量<%= item.qty %></li>
<% end %>
</ul>
<hr>
<% @products.each do |product| %>
<div class="product">
  <%= link_to product_path(product) do %>
    <%= image_tag(product.image_url, :width => 120) %>
    <p>
      <%= product.name %>
      $<%= product.price %>
    </p>
    <p>
      <%= link_to "加入購物車", add_to_cart_product_path(product), :method => :post, :class => "btn btn-primary" %>
    </p>
  <% end %>
</div>
<% end %>
